
@import '../themes/basic';
@import '../themes/container';

a {
  cursor: pointer;
  text-decoration: $vatsearch-link-decoration;
}

.vat-search-form {
  background: $form-check-background;
  padding: 10px;
  margin: 50px 80px 20px 80px;
  border-radius: 5px;
  text-align: center;
}

.vat-search-input {
  padding: 5px;
  width: 70%;
}

.vat-search-text-upper {
  text-transform: uppercase;
}

.vat-search-text-lower {
  text-transform: lowercase;
}

.vatsearch-human-validation {
  text-align: center;
  margin: 10px 340px 10px 340px;
}

.last-searches {
  @extend .result-block;
  margin: 10px 50px 0 50px;

  li {
    display: inline-block;
    list-style-type: none;

    & a {
      padding-right: 5px;
    }
  }
}

.vat-result-error {
  @extend .result-block;
  background: $form-result-error-background;
  color: $form-result-error-color;
}

.vat-result-ok {
  @extend .result-block;
  background: $form-result-background;
  color: $form-result-color;
}

.vat-result-data {
  text-align: left;
  color: $form-result-data-color;
}


.settings-button {
  background-image: url('../../../assets/img/settings.png');
  @extend .base-menu-button;
}

.about-button {
  background-image: url('../../../assets/img/info.png');
  @extend .base-menu-button;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  padding-top: 43px;
}


// mobile view
@media screen and (max-width: 800px) {
   $form-input-width: 60%;

  .vat-search-input {
    width: $form-input-width;
    text-align: center;
  }

  .vat-result-data {
    text-align: center;
  }

  .vat-search-button {
    margin: 5px;
    width: $form-input-width;
  }

}
