
<div *ngIf="!vatSearchIsHuman" class="row vatsearch-human-validation">
  <div class="col-12">
    <div id="capcha_element"
         class="g-recaptcha"
         data-callback="getResponceCapcha"
         [attr.data-sitekey]="siteKeyCaptcha">
    </div>
  </div>
</div>


<div *ngIf="vatSearchIsHuman" [formGroup]="vatSeachForm" class="row vat-search-form">
  <div class="col-md-5 col-lg-5 col-12">
    <input type="text" formControlName="vatNumber" placeholder="VAT" class="vat-search-input {{vatSeatchTextClass}}" />
  </div>
  <div class="col-md-3 col-lg-3 col-12">
    <button class="btn btn-success vat-search-button"
            (click)="searchVATNumber();" [disabled]="vatResultSearchStarted">
      {{ 'common.searchBtn' | translate }}
    </button>
  </div>
  <div class="col-md-2 col-lg-2 col-3">
    <div class="settings-button" (click)="toggleSettings()"></div>
  </div>
  <div class="col-md-2 col-lg-2 col-3">
    <div class="about-button" (click)="openAboutPage()"></div>
  </div>
</div>


<!-- Settings -->
<app-search-settings [isVisible]="isSettingsOpen" (settingsApplied)="onSettingsChanged($event)"></app-search-settings>

<!-- Quick type: last searches -->
<div class="row last-searches" *ngIf="vatLastSearchesVisible && vatLastSearches.length > 0">
  <div class="col-12">
    <span>  {{ 'common.lastSearchResults' | translate }}: </span>
    <li class="last-searches-list" *ngFor="let vatLastSearch of vatLastSearches">
      <a (click)="addToInputField(vatLastSearch)" > {{ vatLastSearch }} </a>
    </li>
  </div>
</div>

<app-loading-bar [isVisible]="vatResultSearchStarted"></app-loading-bar>

<!-- Error details -->
<div class="row vat-result-error" *ngIf="vatResultError">
  <div class="col-12"> {{ vatResultErrorMessage }} </div>
</div>

<!-- Success details -->
<div class="row vat-result-ok" *ngIf="!vatResultError && vatResult">
  <div class="row">
    <div class="col-md-6 col-12"> {{ 'common.country' | translate }} </div>
    <div class="col-md-6 col-12 vat-result-data"> {{ vatResult.country }} </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-12"> {{ 'common.name' | translate }} </div>
    <div class="col-md-6 col-12 vat-result-data"> {{ vatResult.name }} </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-12"> {{ 'common.address' | translate }} </div>
    <div class="col-md-6 col-12 vat-result-data"> {{ vatResult.address }} </div>
  </div>
</div>
