
//Basic theme v1

$form-check-background: #f2f2f2;
$form-result-error-background: red;
$form-result-error-color: white;

$form-result-background: #3A668A;
$form-result-color: white;
$form-result-data-color: #C2C2C2;

$vatsearch-link-decoration: underline !important;

$settings-border: 1px dashed grey;
