
// pages and blocks

.page-container {
  text-align: center;
  padding: 5px;
}

.result-block {
  display: block;
  margin: 10px 50px 10px 50px;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  font-weight: bold;
}

.base-menu-button {
  background-position: 50% 50%;
  background-size: 32px 32px;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  padding-top: 40px;
  cursor: pointer;
}
