
<!-- Loading bar -->
<div class="row var-result-loading" *ngIf="isVisible">
  <div class="col-12">
    <div> <img src="../../../../assets/img/loading.gif" class="loading-bar" /> </div>
  </div>
</div>
