
.vat-common-block {
  display: block;
  margin: 10px 50px 10px 50px;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  font-weight: bold;
}

.var-result-loading {
  @extend .vat-common-block;
  height: 80px;
  margin: -30px 50px 0 50px;
}

.loading-bar {
  background-size: 80px 80px;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
}
