
@import '../../themes/basic';
@import '../../themes/checkbox';

.vatsearch-settings {
  margin: 10px 80px 10px 80px;
  text-align: center;
  padding: 9px;
  font-weight: bold;
  border-radius: 5px;
  border: $settings-border;
}

.settings-row {
  padding-top: 9px;
}
