
<div *ngIf="isVisible" [formGroup]="vatSearchSettingsForm" class="row vatsearch-settings">
  <div class="col-6 settings-row">
    <div class="checkbox">
      <label>
        <input type="checkbox" formControlName="lastSearches"
               class="form-check-input" value=""
               (change)="sendSettingsUpdate('last-searches', $event.target.checked)">
        <span class="cr"><i class="cr-icon fas fa-arrow-alt-circle-right"></i></span>
        {{ 'settings.allowLastSearchResults' | translate }}
      </label>
    </div>
  </div>
  <div class="col-6 settings-row">
    <div class="checkbox">
      <label>
        <input type="checkbox" formControlName="upperCaseSearchText"
               class="form-check-input" value=""
               (change)="sendSettingsUpdate('upper-case-searchtext', $event.target.checked)">
        <span class="cr"><i class="cr-icon fas fa-arrow-alt-circle-right"></i></span>
        {{ 'settings.setUpperCase' | translate }}
      </label>
    </div>
  </div>
</div>
