

<div class="row about-page">

  <div class="col-12">
     <h3> {{ 'about.header' | translate }} </h3>

    {{ 'about.contentHeader' | translate }} <br />
    {{ 'about.contentBody' | translate }} <br />
    {{ 'about.contentEnd' | translate }} <br />
  </div>

</div>
